.btn-submit {
    background-color: #008000; /* Cambia el color de fondo del botón */
    color: #ffffff; /* Cambia el color del texto del botón */
    font-size: 20px; /* Cambia el tamaño de fuente del botón */
    padding: 10px 20px; /* Ajusta el padding del botón */
  }