{% extends "base.html" %}
{% block content %}

<!-- ===================================================== -->
<!-- Hero Section -->
<!-- ===================================================== -->
<section class="feedforward-hero">
    <div class="logo-hero-container">
        <div class="logo-hero-orb"></div>

        <img src="{{ url_for('static', filename='logo.png') }}" 
             class="logo-hero">
    </div>

    <div class="cyber-quote">
        "Miles han vivido sin amor, ninguno sin agua" | WH Auden
    </div>
</section>




</div> <!-- End feedforward-grid -->

{% endblock %}
