<section>
    <p style="color: #01080f;">
        El programa de Supervisión en Sistemas de <span style="color: #009999;">Agua</span> y <span style="color: #cc3300;">Saneamiento</span> es un pilar esencial en la lucha contra el cambio climático y su impacto en la <span style="color: #009999;">salud</span> y el <span style="color: #cc3300;">ambiente</span>. Enfocado en la investigación, inspección y control, este programa no solo aborda las necesidades básicas de acceso al <span style="color: #009999;">agua</span> potable y saneamiento, sino que también desencadena un efecto positivo en la <span style="color: #009999;">salud</span> pública y el <span style="color: #cc3300;">medio ambiente</span>.
    </p>
    <p style="color: #01080f;">
        Al fomentar la participación y movilización social, se impulsa una justicia climática, fortaleciendo así la adaptación y mitigación ante el cambio climático. Se busca adoptar estándares internacionales para proteger la <span style="color: #009999;">vida</span> y la <span style="color: #009999;">salud</span>, implementando planes de acción intersectoriales como la Política Integral de <span style="color: #cc3300;">Salud Ambiental</span> (PISA).
    </p>
    <p style="color: #01080f;">
        Para mitigar los riesgos sobre la <span style="color: #009999;">salud</span> de las poblaciones, se establecen criterios técnicos en procesos de licenciamiento de proyectos e infraestructuras, y se definen límites ambientales para salvaguardar la <span style="color: #009999;">salud</span> de las personas y comunidades. Este enfoque, integrado con el programa de <span style="color: #009999;">Agua</span> y <span style="color: #cc3300;">Saneamiento</span>, no solo responde a las necesidades actuales, sino que sienta las bases para un futuro más sostenible y resiliente frente a los desafíos del cambio climático.
    </p>
</section>

